@use "../../variables/var";

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.app {
  overflow-x: hidden;
  width: 100%;
  height: 100dvh;
  font-family: var.$Open;
}

.logo {
  // background-color: #eccfcf;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.3rem;

  &__img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: #e8fdf568;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    & img {
      width: 3rem;
      height: 3rem;
    }
  }
  & p {
    width: max-content;
    color: #e8fdf5;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.navbar__hidden {
  transform: translateY(-100%);
  transition: transform 0.3s;
}

// .active {
//   transform: translateY(0%);
//   transition: transform 0.3s;
// }
// .inActive {
//   transform: translateY(-100%);
//   transition: transform 0.3s;
// }
