@use "../../../../variables/variables";
@use "../../../../mixins/mixins.scss";

@media screen and (min-width: 768px) {
  .navbar__menu {
    display: none;
  }
  .navbar {
    &__logo {
      padding-left: 3rem;
    }
    & .inActive {
      display: block;
    }

    &__container,
    .inActive {
      width: max-content;
      height: 100%;
      box-shadow: none;
      @include mixins.flex(center);
      gap: 0.5rem;
      padding: 0 2rem;

      &--close {
        display: none;
      }
      &--link {
        @include mixins.flex(center, center);
        gap: 2rem;
        font-family: Arial, Helvetica, sans-serif;

        & > .link {
          font-size: 13px;
          transition: 0.2s;
        }
      }
      & .icon > i {
        font-size: 23px;
      }
    }
  }
}
