$white: #fff;
$black: #000;
$cl-primary1: #05b29b;
$cl-primary2: #1be08b;
$cl-primary3: #08574c;
$cl-primary4: #12a766;
$cl-second1: #fff86d;
$cl-second2: #f4e91f;
$cl-second3: #e5da10;

$cl-fondoNav: #05b29b66;
$cl-red: #d23a3d;
$cl-shadow1: #44887f;
$cl-shadow2: #e7e8e7;
$cl-shadow3: #ffffff50;

$Open: "Open Sans", sans-serif;
$Poppins: "Poppins", sans-serif;
